---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,
                  -hicpp-signed-bitwise, -readability-implicit-bool-conversion, -cppcoreguidelines-macro-usage,
                  -bugprone-macro-parentheses, -cert-dcl21-cpp,
                  -cppcoreguidelines-pro-bounds-constant-array-index,
                  -hicpp-special-member-functions,
                  -cppcoreguidelines-special-member-functions,
                  -cert-msc32-c,
                  -hicpp-braces-around-statements,
                  -readability-braces-around-statements,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -misc-non-private-member-variables-in-classes,
                  -cppcoreguidelines-pro-type-static-cast-downcast,
                  -cppcoreguidelines-avoid-c-arrays,
                  -hicpp-avoid-c-arrays,
                  -modernize-avoid-c-arrays,
                  -readability-magic-numbers,
                  -llvmlibc-implementation-in-namespace,
                  -altera-unroll-loops,
                  -cert-err58-cpp,
                  -cert-msc51-cpp,
                  -readability-convert-member-functions-to-static,
                  -altera-id-dependent-backward-branch,
                  -cppcoreguidelines-pro-type-reinterpret-cast,
                  -bugprone-easily-swappable-parameters,
                  -altera-struct-pack-align,
                  -readability-use-anyofallof,
                  -readability-function-cognitive-complexity,
                  -cppcoreguidelines-avoid-goto,
                  -llvmlibc-restrict-system-libc-headers,
                  -llvmlibc-callee-namespace,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -bugprone-narrowing-conversions,
                  -cppcoreguidelines-narrowing-conversions,
                  -hicpp-avoid-goto,
                  -cert-str34-c,
                  -cppcoreguidelines-owning-memory,
                  -cppcoreguidelines-non-private-member-variables-in-classes,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -modernize-loop-convert,
                  -hicpp-uppercase-literal-suffix,
                  -cppcoreguidelines-pro-type-member-init,
                  -hicpp-member-init, -cert-err34-c,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -hicpp-no-array-decay,
                  -bugprone-signed-char-misuse,
                  -readability-uppercase-literal-suffix'
HeaderFilterRegex: ''
FormatStyle:     none